@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

/*

#F7F7FF - White
#B23A48 - Deep Chestnut
#2D2A32 - Charleston Green
#F2D0A4 - Tuscan
#4E598C - Purple Navy

*/

body{
  font-family: 'Poppins', sans-serif;
  color: #333;
  max-width: 2500px;
  margin: 0 auto;
  background-color: #EDEDF4;
}

/* Buttons */

button.btn {
  border: none;
  width: 320px;
  background-color: #B23A48;
  border: none;
  color: #fff;
  border-radius: 4px;
  height: 48px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 700;
  min-width: 160px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  transition: all 0.4s ease;
}

button.btn:hover{
  background-color: #a72e3c;
}

/* Nav */

nav {
  background: #333;
  height: 75px;
  position: fixed;
  width: 100%;
  max-width: 2500px;
  box-shadow: 1px 1rem 2rem 4px rgba(0,0,0,0.1);
  z-index: 20;
}

div#brand {
  color: #F7F7FF;
  font-size: 2rem;
  margin: 15px;
  margin-left: 30px;
  font-weight: 600;
  display: inline-block;
}

button#nav-btn {
  margin: 20px;
  float: right;
  width: 150px;
  height: 38px;
}

/* Wrapper */

header {
  background: #333;
  color: #fff;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  width: 100%;
}

.wrapper-left {
  flex: 1 1;
  text-align: center;
  margin-top: 20%;
}

.wrapper-right {
  flex: 1;
  text-align: center;
}

img.wrapper-img {
  width: 600px;
  margin-top: 27%;
}

.welcome {
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 500px;
  font-size: 3rem;
  line-height: 1;
}

span#bold {
  font-weight: bold;
}

@media only screen and (max-width: 1450px){
  .welcome{
    font-size: 2.5rem;
  }
  img.wrapper-img {
    width: 500px;
  }
}

@media only screen and (max-width: 1050px){
  .welcome{
    font-size: 2rem;
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 90%;
  }
  button.btn {
    width: 200px;
  }
  .wrapper-right {
    display: none;
  }
}

@media only screen and (max-width: 600px){
  #nav-btn{
    display: none;
  }
  .welcome{
    font-size: 1.5rem;
  }
}

/* Blogging */

.blog-posts{
  display: flex;
  white-space: nowrap;
  overflow:scroll;
}

::-webkit-scrollbar{
  display: none;
}

.blog-post {
  flex: 1 1;
  height: 185px;
  min-width: 300px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0px 4px 4px #dadada;
}

.card-bottom{
  display: flex;
  min-height: 50px;
}

p#card-content {
  min-height: 50px;
}

p#card-date {
  color: #B23A48;
  font-weight: bold;
  flex: 2;
}

button#card-btn {
  border: none;
  width: 30%;
  background-color: transparent;
  border: 2px solid #B23A48;
  color: #B23A48;
  border-radius: 4px;
  height: 48px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 700;
  min-width: 40px;
  transition: background-color 0.4s ease;
  cursor: pointer;
  flex: 1;
  transition: all 0.4s ease;
}

button#card-btn:hover {
  background-color: #B23A48;
  color: #fff;
}

.active{
  cursor: grabbing;
}

.title{
  padding: 2rem 2rem 1rem 2rem;
}

p.sub-content {
  margin-top: 5px;
}

.content {
  margin-top: 10px;
}